#intro {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    z-index: 99999;
    background: #000;
}

#intro .intro-bg {
    position: absolute; bottom: 0;
    width: 100%; height: 0%;
    background: linear-gradient(to bottom, #0C1415, #17272A, #273538);
    animation: introBg 1s cubic-bezier(.25,.8,.25,1) forwards;
    filter: blur(0px);
}

@keyframes introBg {
    0%   { height: 0%; filter: blur(14px); opacity: 0; }
    60%  { height: 100%; filter: blur(3px); opacity: 1; }
    100% { height: 100%; filter: blur(0px); }
}

/* profile 등장 */
.intro-profile {
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: 0;
    animation: introProfile 1.2s 0.5s cubic-bezier(.23,1,.32,1) forwards;
}
.intro-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

@keyframes introProfile {
    0%   { transform: translate(-50%, -50%) scale(0.7); opacity: 0; }
    60%  { transform: translate(-50%, -50%) scale(1.2); }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 1;}
}

/* 버튼 */
.intro-btn {
    position: absolute;
    top: 56%;
    left: 50%;
    opacity: 0;
    background: #0F0F0F;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .4s ease;
    animation: introBtn 1.2s 0.5s cubic-bezier(.23,1,.32,1) forwards;
}

@keyframes introBtn {
    0%   { transform: translate(-50%, -40%) scale(0.75); opacity: 0; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}

.intro-text {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all .4s ease;
    font-size: 20px;
    font-weight: bold;
    clip-path: inset(0 100% 0 0);
    transition: clip-path .45s ease;
}
.intro-arrow-box{
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    background-color: #1e8888;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-arrow {
    width: 20px;
}

/* hover 시 버튼 확장 */
.intro-btn:hover {
    gap: 20px;
    padding: 15px 20px 15px 30px;
}
.intro-btn:hover .intro-text {
    max-width: 200px;
    opacity: 1;
    clip-path: inset(0 0 0 0);
}
